<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <link rel='stylesheet' href='./css/styles.css' />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="./img/weather-icon.png" type="image/x-icon">
  </head>
  <body>
    <div class='main'>
       {{>header}} 

       <P>Use this site to get your weather </P>

       <form >
         <input type="text" placeholder="Enter your location">
         <button type="submit"> Search </button>
       </form>

{{!-- messages --}}
       <p id="message-one"></p>
       <p id="message-two"></p>
       <p id="message-three"></p>
    </div>
    
    {{>footer}}
    <script src='./js/script.js'></script>
  </body>
</html> 